@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Signika Negative', sans-serif !important;
    scroll-behavior: smooth;

}


/* Variables start */

:root {
    --green: #2a862e;
    --green-hover: #1e5d20;
    --red: #b51c1c;
    --red-hover: #8f1717;
}

/* Variables end */


h2 {
    font-size: 2.4rem;
    font-weight: 600;
}


.container {
    max-width: 1100px !important;
}

.text-green {
    color: var(--green);
}

.highlighted-green {
    color: var(--green);
    font-weight: 600;
}

/* ------ Navigation bar ------- */

.navbar {
    background: #fff;
    border-bottom: 1px solid #e0e1ec;
}

.navbar .navbar-brand {
    font-size: 30px;
}

.navbar .container {
    padding: 5px 0;
}

.navbar .collapse a {
    font-size: 17px;
    font-weight: 600;
}

.navbar form a {
    text-decoration: none;
    color: black;
}

.navbar .collapse a:hover {
    color: var(--green);
}

.navbar .btn {
    width: 110px;
    height: 40px;
    border: 2px solid var(--green);
    color: var(--green);
    background-color: transparent;
    font-weight: 600;
    border-radius: 6px;
}

.navbar button:hover {
    background-color: #76c77a;
}


.navbar .dropdown-menu {
    width: 50vw;
    padding: 30px 20px;
}

.navbar .dropdown-menu img {
    width: 50px;
    height: 50px;
}

.navbar .dropdown-menu .hosting-row .col-sm-3:nth-child(1),
.col-sm-3:nth-child(2),
.col-sm-3:nth-child(3) {
    border-right: 1px solid #bbbbbb;

}

.navbar .dropdown-menu .tech-row .col-sm-4:nth-child(1),
.col-sm-4:nth-child(2) {
    border-right: 1px solid #bbbbbb;

}

.navbar .dropdown-menu .col-12:hover {
    background-color: #f7fbff;
    cursor: pointer;
}

/* ------ Hero section ------- */

#hero-section {
    background-color: #ecf0f7;
    padding: 50px 0;
}

#hero-section h1 {
    font-size: 44px;
    font-weight: bolder;
}

#hero-section h1 span {
    color: var(--green);
}

#hero-section .checks {
    margin: 22px 0 10px 0;
}

#hero-section .checks p {
    font-size: 17px;
}

#hero-section .checks p span {
    font-size: 28px;
    color: var(--green);
}

#hero-section .price {
    margin-bottom: 27px;
}

#hero-section .price p {
    font-size: 68px;
    margin-bottom: -10px;
    font-weight: bolder;
    color: #31313c;
}

#hero-section .price span {
    font-size: 13px;
}

#hero-section .timerbox {
    margin-bottom: 27px;
}

#hero-section .timerbox .day .number,
.hours .number,
.minutes .number,
.seconds .number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid var(--green);
    padding: 4px;
    border-radius: 6px;
    width: 50px;
    height: 55px;
    margin-right: 15px;
}

.timerbox .text {
    font-size: 13px;
    font-weight: bolder;
}

#hero-section .button span {
    font-size: 13px;
}

#hero-section button {
    background-color: var(--red);
    border-color: var(--red);
    padding: 18px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 6px;
    color: white;
}

#hero-section button:hover {
    background-color: var(--red-hover);
}

/* ------ First section ------- */


#first-section {
    background-color: #FFFFFF;
    padding: 50px 0;
}

#first-section p {
    font-size: 20px;
    font-weight: 600;
}

#first-section p .highlighted {
    color: #1372de;
}

.bi-star-fill {
    color: var(--green);
}

/* ------ Second section ------- */


#second-section {
    background-color: #FFFFFF;
    padding: 0 0 50px 0;
}

#second-section .price p {
    font-size: 34px;
    font-weight: bolder;
    color: var(--green);
}

#second-section .card {
    max-width: 280px;
    background: transparent;
    border-radius: 10px;
    margin: 15px;
}

#second-section .card .card-body {
    padding: 30px 10px;
}

#second-section .card .duration {
    display: flex;
    justify-content: center;
}

#second-section .card .duration div {
    border: 1px solid rgb(84, 84, 84);
    width: 100%;
    cursor: pointer;
}

#second-section .card .duration div.active {
    background-color: var(--green);
    color: white;
}

#second-section .card .duration div:nth-child(2) {
    border-left: none;
    border-right: none;
}

#second-section .card .duration p {
    margin-bottom: 0px;
}

#second-section .card .duration button {
    width: 65px;
    background: transparent;
    border: 1px solid black;
}

#second-section .card .feature-list,
.feature-list-second {
    font-size: 15px;
}

#second-section .card .feature-list p,
.feature-list-second p {
    margin-bottom: 9px;
    font-size: 14px;
    border-bottom: 1px dotted;
    width: fit-content;
    width: moz-fit-content;
}

#second-section .card .get-started {
    width: 100%;
    margin: 10px 0 22px 0;
    border-radius: 6px;
    background-color: var(--green);
    font-size: 16px;
    color: #fff;
    padding: 12px 18px;
    font-weight: bolder;
    border: none;
}

#second-section .card .get-started:hover {
    background-color: var(--green-hover);
}

#second-section .most-popular-badge {
    width: 150px;
    background-color: var(--red);
    position: absolute;
    color: white;
    text-align: center;
    padding: 3px 10px;
    border-radius: 6px;
    top: -15px;
    left: 63px;
}

/* ------ Third section ------- */

#third-section {
    background-color: #FFFFFF;
    padding: 0 0 50px 0;
}

#third-section h3 {
    font-weight: bolder;
}

#third-section p {
    font-size: 16px;
}

#third-section img {
    width: 100%;
    background: transparent;
    margin-bottom: 15px;
}

#third-section a {
    text-decoration: none;
    color: var(--green);
}

#third-section .cards-row {
    margin-top: 35px;
}

/* ------ Fourth section ------- */

#fourth-section {
    background-color: #FFFFFF;
    padding: 0 0 50px 0;
}

#fourth-section img {
    width: 110px;
    height: 110px;
    filter: grayscale(1);
}

#fourth-section img:hover {
    filter: grayscale(0);
}

/* ------ Fifth section ------- */

#fifth-section {
    padding: 70px 0;
    background-color: #ecf0f7;
}

#fifth-section img {
    width: 90%;
    height: 90%;
}

/* ------ Sixth section ------- */

#sixth-section {
    background-color: #ffffff;
    padding: 70px 0;
}

/* ------ Seventh section ------- */

#seventh-section {
    background-color: #ecf0f7;
    padding: 70px 0;
}

/* ------ Eighth section ------- */

#eighth-section {
    padding: 70px 0;
}

#eighth-section img {
    width: 90%;
    height: 90%;
}

#eighth-section a {
    text-decoration: none;
    color: var(--green);
}

/* ------ Ninth section ------- */

#ninth-section {
    background-color: #ecf0f7;
    padding: 70px 0;
}

/* ------ Tenth section ------- */

#tenth-section {
    padding: 70px 0;
}

#tenth-section .card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    width: 100%;
    margin-top: 70px;
}

#tenth-section .card-container .card {
    border: none;
    min-height: 315px;
}

#tenth-section .card-container .card p i {
    width: 50px;
    height: 30px;
    background-color: var(--green);
    font-size: 14px;
    margin-right: 6px;
    padding: 3px;
    color: white;
}

#tenth-section .card-container .card .card-heading {
    font-size: 25px;
}

#tenth-section .card-container .card .card-text {
    color: rgb(74, 74, 74);
}

#tenth-section .card-container .card .profile {
    position: absolute;
    bottom: 0;
}

#tenth-section .card-container .card .profile img {
    width: 50px;
    height: 50px;
}

#tenth-section a {
    text-decoration-color: var(--red);
    color: var(--red);
    font-size: 18px;
}

/* ------ Eleventh section ------- */

#eleventh-section {
    padding: 70px 0;
    background-color: #E1EFFF;
}

#eleventh-section h4 {
    font-size: 19px;
    font-weight: bold;
}


.accordion {
    background-color: white;
    padding: 20px 30px;
    margin: 20px;
    cursor: pointer;
    max-width: 80% !important;
    background-color: #c1dbf9;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 16px;
    transition: transform 0.4s;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: rgb(69, 69, 69);
    display: none;
}

.answer p {
    font-size: 18px;
}

.answer.active {
    display: block;
}

/* ------ Footer ------- */

footer {
    padding: 70px 0 40px 0;
}

footer .col-sm-4 {
    border: none !important;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bolder;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
    margin-bottom: 11px;
}

footer ul li a {
    text-decoration: none;
    color: #4d4d52;
    font-size: 16px;
}

footer ul li a:hover {
    color: var(--green);
    text-decoration: underline;
}

footer .social-icons i {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}

.to-the-top {
    display: none;
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 3%;
    cursor: pointer;
}

.to-the-top.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-the-top i {
    color: white;
    font-size: 35px;
}

.to-the-top:hover {
    background-color: var(--green-hover);
    box-shadow: 0 0 15px -1px var(--green);
}

/* ------ Media Queries ------- */

@media screen and (max-width:1199px) {

    .navbar {
        padding: 0px 30px !important;
    }

    #tenth-section .card-container {
        grid-template-columns: auto auto auto;
    }

}

@media screen and (max-width:1098px) {
    #third-section .cards-row {
        padding: 0px 10px;
    }
}

@media screen and (max-width:992px) {
    .navbar .dropdown-menu {
        width: 100%;
    }

    .navbar form {
        display: flex;
        flex-direction: column;
    }

    .navbar form a {
        margin-top: 10px;
    }

    .navbar form button {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    #tenth-section .card-container {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:768px) {
    #third-section .cards-row {
        text-align: center;
    }

    #fourth-section .badge {
        margin-top: 16px;
    }

    #seventh-section img {
        margin-bottom: 24px;
    }
}

@media screen and (max-width:576px) {

    .navbar .dropdown-menu .hosting-row .col-sm-3:nth-child(1),
    .col-sm-3:nth-child(2),
    .col-sm-3:nth-child(3) {
        border-right: none;
        border-bottom: 1px solid #bbbbbb;
    }

    .navbar .dropdown-menu .tech-row .col-sm-4:nth-child(1),
    .col-sm-4:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid #bbbbbb;

    }
}

@media screen and (max-width:490px) {

    #fifth-section h2 {
        font-size: 30px;
    }

    #sixth-section h2 {
        font-size: 30px;
    }

    #seventh-section h2 {
        font-size: 30px;
    }

    #eighth-section h2 {
        font-size: 30px;
    }

    #ninth-section iframe {
        width: 350px !important;
        height: 200px !important;
    }

    #tenth-section .card-container {
        grid-template-columns: auto;
    }

    #tenth-section .card-container .card {
        align-items: center;
        padding: 0 30px;
    }

    #tenth-section .card-container .card .card-text {
        text-align: center;
    }

    #eleventh-section h4 {
        font-size: 18px;
    }

    footer h3 {
        font-size: 18px;
    }
}

@media screen and (max-width:386px) {
    #ninth-section iframe {
        width: 300px !important;
        height: 150px !important;
    }
}